<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Comarca</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="container">
    <h1>Cadastro de Comarca</h1>
    <form action="/cadastrar-comarca" method="post">
        <fieldset>
            <label for="comarca-nome">Nome</label>
            <input type="text" id="comarca-nome" name="comarca-nome" required>
            <label for="comarca-regional">Selecione a Região</label>
            <select id="comarca-regional" name="comarca-regional" required>
                <option value="">Selecione...</option>
                <!-- As opções serão preenchidas dinamicamente via JavaScript -->
            </select>
        </fieldset>
        <button type="submit">Cadastrar e ir para Unidades</button>
    </form>
</div>

<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault();
        window.location.href = '/cadastrar-unidade';
    });
</script>
</body>
</html>
