<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Regional</title>
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
<div class="container">
    <h1>Cadastro de Regional</h1>
    <form action="/cadastrar-regional" method="post">
        <fieldset>
            <label for="regional-nome">Nome</label>
            <input type="text" id="regional-nome" name="regional-nome" required>
        </fieldset>
        <button type="submit">Cadastrar e ir para Comarcas</button>
    </form>
</div>

<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault();
        // Supondo que a URL de redirecionamento seja /cadastrar-comarca
        window.location.href = '/cadastrar-comarca';
    });
</script>
</body>
</html>
